
.item-2 {
  height: 50px;
  width: 50px;
  display:grid;
  grid-template: 50px 50px/ 50px 50px;
}

#blue-quadrant {
  border: 3px solid blue;
  border-radius: 50px 0 0;
}

#blue-quadrant:nth-child(2) {
  rotate: 90deg;
}

#blue-quadrant:nth-child(3) {
  rotate: -90deg;
}

#blue-quadrant:nth-child(4) {
  rotate: 180deg;
}

