.fruit-box {
  display: grid;
  grid-gap: 10px;
  grid-template-columns:
  [left] 1fr
  [middle1] 1fr
  [middle2] 1fr
  [right];
  border: 2px solid;
  width: 300px;
  padding: 4px;
  justify-items: center;
  text-align: center;
}

.fruit-box > * {
  width: 100%;
  border: 1px solid;
}
.apple {
  background-color: red;
}

.kiwi {
  background-color: #90ee90;
}

.mango {
  background-color: #ff0;
}
.orange {
  background-color: orange;
  grid-column: left / right;
}