.snack-box {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "top top" "bottom1 bottom2";
  grid-template-columns: 1fr 2fr;
  height: 60px;
  width: 300px;
  border: 2px solid;
  margin: 20px;
  justify-items: center;
  text-align: center;
  padding: 5px;
}

.snack-box > * {
  width: 100%;
  border: 1px solid;
}

.seaweed {
  grid-area: top;
  background-color: #00fa9a;
}

.chips {
  grid-area: bottom1;
  background-color: #fafad2
}

.peanut {
  grid-area: bottom2;
  background-color: #f4a460;
}